.map {
    height: 500px;
    width: 100%;
}

.marginInput{
    margin: 20px 0px 20px 0px;
}

.titleFont{
    font-family: 'Fredoka One', cursive;
    color: cadetblue;
}

.btnColor{
    background-color: cadetblue !important;
}
.btnColor:hover{
    background-color: rgb(63, 122, 124) !important;
    cursor: pointer;
}

.coavoidLogo{
    /* height: 50px; */
}

.place-in-list {
	background-color: white;
	border-radius: 6px;
	padding: 20px;
	margin: 10px 0px;
	list-style: none;
	color: black;
	font-size: 14px;
}